
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f3efef;
  grid-template-columns: 1fr 2fr 3fr;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menuBar{
    width: 20%;
    padding: 3%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.menuBar h1{
    font-size: 1.8rem;
    margin-bottom: 5%;
}

.menuBar a {
    display: block;
    margin-bottom: 10px;
}

.menuBar .myProfile{
    background-color: #c5c7c9;
  border:0.1rem #000;
} 

.menuBar button{
background: transparent;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 6rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: left;
}


.menuBar button:hover {
  background-color: #c5c7c9;
  border:0.1rem #000;
}

.menuBar .active {
    background-color: #c5c7c9 !important;
}


.container{

  width: 100%;
  max-width: 900px;
  height: 70vh;
  border: 0.15rem solid #000;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffff;
  display:block;
   
 
}

.container h2{
    font-size: 1.8rem;
    margin-left: 3%;
    margin-top: 3%;
}



.Sign-Out {
    background-color: #7db8ff;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-left: 3%;
    margin-top: 3%;

  

 
}

.Sign-Out:hover {
  background-color: #2880e4;
}